.cart-item{
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-around;
}

.containerCart{
    margin-top: 1rem;
}

.checkOut{
    background-color: rgb(203, 204, 206);
}